<!DOCTYPE html>
<html>
<title>srinath | Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<body>

<header>
  <div class="w3-content" style="max-width:1400px;">
    <table class="s3-table">
      <tr class="s3-card s3-full">
            <div class="btn-group navigation-buttons">
              <button>
                <a href="{{ url_for('programming') }}">Programming</a>
              </button>
              <button>
                <a href="{{ url_for('home') }}">Home</a>
              </button>
            </div>
        </tr>
    </table>
  </div>
</header>

<!-- Page Container -->
<div class="w3-content" style="max-width:1400px;">

  <div class="s3-row-padding">
    <!-- The Grid -->
    <table class="s3-table">
      <tr>
        <td class="s3-card s3-third">
          <!-- Left Column -->
              <div class="s3-image-container">
                <img src="{{ url_for('static', filename='images/2.jpg') }}" class="s3-image">
              </div>

              <div class="w3-container">
                <h3><b>About Me</b></h3>
                <div class="content"><p>{{my.about}}</p></div>

                <h3><b>Research Interests</b></h3>
                <div class="content"><p>{{my.research_interests}}</p></div>

                <h3><b>Education</b></h3>
                <div class="content">
                  <li>{{my.education_bachelors}}</li>
                  <li>{{my.education_plus2}}</li>
                  <li>{{my.education_tenth}}</li>
                </div>

                <h3><b>Contact</b></h3>
                <div class="content">
                  <li>{{my.contact_email}}</li>
                  <li>{{my.contact_mobile}}</li>
                  <p></p>
                  <p></p>
                </div>
              </div>
          <!-- End Left Column -->
        </td>

        <td class="s3-card s3-twothird">
          <!-- Right Column -->
              <div class="quote">
                <h6 class="quote-content">
                  "It's better to live your own destiny imperfectly than to live an imitation of somebody else's life with perfection"
                </h6>
                <h5 class="quote-author">- The Bhagavad Geeta</h5>
              </div>

              <h2 class="heading"><b>Some useful material</b></h2>
              {% set N=topics|length %}

              <div class="row">
                <div class="column">
                  {% for item in topics %}
                  {% if not loop.index*2>N+1 %}
                  <div class="w3-container">
                    <h4><b>{{item['topic']}}</b></h4>
                    <div class="content">
                      {% for course in item['courses'] %}
                      {% set source=course['source'] %}
                      <a href="../static/pdfs/{{course['source']}}">{{course['title']}}</a><br>
                      {% endfor %}
                    </div>
                    <hr>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>

                <div class="column">
                  {% for item in topics %}
                  {% if not N+1>=loop.index*2 %}
                  <div class="w3-container">
                    <h4><b>{{item['topic']}}</b></h4>
                    <div class="content">
                      {% for course in item['courses'] %}
                      <a href="../static/pdfs/{{course['source']}}">{{course['title']}}</a><br>
                      {% endfor %}
                    </div>
                    <hr>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
          <!-- End Right Column -->
        </td>
      </tr>
    </table>
  <!-- End Grid -->
  </div>
  <!-- End Page Container -->
</div>

<footer class="w3-center w3-white w3-padding-16">
  <p><b>"Science is organised knowledge. Wisdom is organised life."</b></p>
</footer>

</body>
</html>
