<!DOCTYPE html>
<html>
<title>srinath | Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<body>

<header>
  <div class="w3-content" style="max-width:1400px;">
    <table class="s3-table">
      <tr class="s3-card s3-full">
            <div class="btn-group navigation-buttons">
              <button>
                <a href="{{ url_for('programming') }}">Programming</a>
              </button>
              <button>
                <a href="{{ url_for('home') }}">Home</a>
              </button>
            </div>
        </tr>
    </table>
  </div>
</header>

<h1 style="text-align: center;">Sorting</h1>
<table style="margin: 0 auto;">
  <tr>
    <td>Insertion Sort </td>
    <td><a href="{{ url_for('static', filename='algorithms/insertion-sort.cpp') }}">insertion-sort.cpp </a></td>
    <td><a href="{{ url_for('static', filename='algorithms/insertion-sort.pdf') }}">notes</a></td>
  </tr>
  <tr>
    <td>Merge Sort </td>
    <td><a href="{{ url_for('static', filename='algorithms/merge-sort.cpp') }}">merge-sort.cpp </a></td>
    <td><a href="{{ url_for('static', filename='algorithms/merge-sort.pdf') }}">notes</a></td>
  </tr>
</table>

<footer class="w3-center w3-white w3-padding-16">
  <p><b>"Science is organised knowledge. Wisdom is organised life."</b></p>
</footer>

</body>
</html>
